/* Navbar.module.scss */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a1a2e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease;

  &__button {
    padding: 0.5rem 1.5rem;
    background-color: #e94560; // Warna merah mencolok
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    &:hover {
      background-color: #d12f48; // Warna hover yang lebih gelap
    }
  }
}

// Responsif
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;

    &__button {
      margin-top: 1rem;
      width: 100%;
      text-align: center;
    }
  }
}
